<app-menu-bar></app-menu-bar>
<div class="content">
    <app-header></app-header>
    <form class="form">
        <label for="nombre">Nombre</label>
        <input type="text" placeholder="Ej. Juan Martinez" class="form-control" required>
        <label for="paterno">Apellido paterno</label>
        <input type="text" placeholder="Rodriquez" class="form-control" required>
        <label for="materno">Apellido materno</label>
        <input type="text" placeholder="Marquez" class="form-control" required>
        <button class="btn btn-success">Guardar</button>
    </form>
</div>