<div class="content">
    <div class="menu" *ngFor="let item of usuario">
        <div class="contPerfil">
            <div class="cimg">
                <img src="{{item.foto_perfil}}" alt="foto" class="img">
            </div>
            <div class="cp">
                <h6> {{item.usuario}} </h6>
                <h3 class="txtNombre"> {{item.nombre}} {{item.paterno}} {{item.materno}} </h3>
                <button class="btn btn-danger" (click)="closeSession()">Cerrar sesión <i class="bi bi-box-arrow-left"></i></button>
            </div>
        </div>
        <ul>
            <li>
                <button class="btn btn-danger" [routerLink]="['/inicio']">Inicio</button>
            </li>
            <li>
                <button class="btn btn-danger" [routerLink]="['/rutas']">Rutas</button>
            </li>
            <li>
                <button class="btn btn-danger" [routerLink]="['/puntos']">Puntos de venta</button>
            </li>
            <li>
                <button class="btn btn-danger" [routerLink]="['/vendedores']">Usuarios</button>
            </li>
            <li>
                <button class="btn btn-danger" [routerLink]="['/tiros']">Tiros</button>
            </li>
        </ul>
    </div>
</div>