<div class="content">
    <div class="menu" *ngFor="let item of usuario">
        <img src="{{item.foto_perfil}}" alt="foto" class="img">
        <h3 class="txtNombre"> {{item.nombre}} </h3>
        <button class="btn btn-danger" (click)="closeSession()">Cerrar sesión <i class="bi bi-box-arrow-left"></i></button>
        <ul>
            <li>
                <a [routerLink]="['/inicio']">Inicio</a>
            </li>
            <li>
                <a [routerLink]="['/rutas']">Rutas</a>
            </li>
            <li>
                <a [routerLink]="['/puntos']">Puntos de venta</a>
            </li>
            <li>
                <a [routerLink]="['/vendedores']">Vendedores</a>
            </li>
            <li>
                <a href="">Tiros</a>
            </li>
        </ul>
    </div>
</div>