<div class="content">
    <div class="menu" *ngFor="let item of usuario">
        <div class="contPerfil">
            <div class="cimg">
                <img src="{{item.foto_perfil}}" alt="foto" class="img">
            </div>
            <div class="cp">
                <h6> {{item.usuario}} </h6>
                <h3 class="txtNombre"> {{item.nombre}} {{item.paterno}} {{item.materno}} </h3>
                <button class="btn btn-danger" (click)="closeSession()">Cerrar sesión <i class="bi bi-box-arrow-left"></i></button>
            </div>
        </div>
        <ul>
            <li>
                <button class="btn btn-danger" [routerLink]="['/inicio']"> <span><img src="https://fernand117.github.io/testEBT/assets/img/icons8-home-page-100.png" alt=""></span> Inicio</button>
            </li>
            <li>
                <button class="btn btn-danger" [routerLink]="['/rutas']"> <span><img src="https://fernand117.github.io/testEBT/assets/img/icons8-split-100.png" alt=""></span> Rutas</button>
            </li>
            <li>
                <button class="btn btn-danger" [routerLink]="['/puntos']"> <span><img src="https://fernand117.github.io/testEBT/assets/img/icons8-place-marker-100.png" alt=""></span> Puntos de venta</button>
            </li>
            <li>
                <button class="btn btn-danger" [routerLink]="['/vendedores']"> <span><img src="https://fernand117.github.io/testEBT/assets/img/icons8-staff-100.png" alt=""></span> Usuarios</button>
            </li>
            <li>
                <button class="btn btn-danger" [routerLink]="['/tiros']"> <span><img src="https://fernand117.github.io/testEBT/assets/img/icons8-list-100.png" alt=""></span> Tiros</button>
            </li>
        </ul>
    </div>
</div>