<app-menu-bar></app-menu-bar>
<div class="content">
    <app-header></app-header>
    <div class="sheader">
        <h1 class="txtTitle">Lista de usuarios.</h1>
        <button class="btn btnGral btn-primary" [routerLink]="['/reporte/venta', 'general']">Reporte general <i class="bi bi-list-ol"></i></button>
        <button class="btn btnAdd btn-success" [routerLink]="['/admin/vendedor', 'add']">Añadir usuario <i class="bi bi-plus-circle"></i></button>
    </div>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Fecha Nac.</th>
                <th scope="col">Usuario</th>
                <th scope="col">Tipo</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Reporte</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemVendedor">
                <td scope="row"> {{item.id}} </td>
                <td class="col-6 col-sm-1"> <img src="{{item.foto_perfil}}" alt="" class="card-img-top"> </td>
                <td>{{item.nombre}}</td>
                <td>{{item.paterno}} {{item.materno}}</td>
                <td>{{item.fecha_nac}}</td>
                <td>{{item.usuario}}</td>
                <td>{{item.tipo}}</td>
                <td><button class="btn btn-warning" [routerLink]="['/admin/vendedor', item.id]"><i class="bi bi-pencil-square"></i></button></td>
                <td><button class="btn btn-danger" (click)="deleteUsuario(item.id)"><i class="bi bi-trash"></i></button></td>
                <td><button class="btn btn-primary" [routerLink]="['/reporte/venta', item.id]"><i class="bi bi-list-ol"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>