.content {
    float: left;
    width: 80%;
    height: 100vh;
    overflow: scroll;
    padding: 2%;
    .sheader {
        margin-top: 5%;
        .txtTitle {
            float: left;
        }
        .btnAdd {
            float: right;
        }
    }
    .table {
        text-align: center;
    }
}
